.faqSection {
  .faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    display: flex !important;
    vertical-align: bottom !important;
    align-items: end !important;
    line-height: 100% !important;
  }

  .faqAnswer {
    width: calc(100% - 100px);
    @media (max-width: 800px) {
      width: 100%;
      margin-top: 0.7rem;
    }
  }

  .faqExpandArrow {
    height: 30px;

    svg {
      width: 1.875rem;
      height: 1.875rem;
      @media (min-width: 500px) and (max-width: 1000px) {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .faqExpandArrowInverse {
    height: 30px;
    rotate: 180deg;

    svg {
      width: 1.875rem;
      height: 1.875rem;
      @media (min-width: 500px) and (max-width: 1000px) {
        width: 3rem;
        height: 3rem;
      }
      
    }
  }
}
